<template>
  <div>
      <app-navbar></app-navbar>

      <b-container>
          <slot />
      </b-container>
  </div>
</template>

<script>
import AppNavbar from '@/components/AppNavbar';

export default {
    name: 'default-layout',
    components: {
        AppNavbar
    }
}
</script>

<style>

</style>