<template>
  <div>
      <b-container class="no-navbar" fluid>
          <slot />
      </b-container>
  </div>
</template>

<script>
export default {
    name: 'no-navbar-layout',
}
</script>

<style scoped>
    .no-navbar {
        height: 100vh;
    }
</style>