<template>
    <b-row class="h-100" align-v="center">
        <b-col md="6" class="px-5">
            <h1>Welcome, wordnerds!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ligula ultricies nisi facilisis dictum a vel nibh. Integer orci neque, elementum quis sodales non, interdum vestibulum orci.</p>
        </b-col>
        <b-col class="mx-auto" md="4">
            <h5 class="mb-3">Sign up for an account</h5>
            <register-form></register-form>
        </b-col>
    </b-row>
</template>

<script>
import RegisterForm from '@/components/Auth/RegisterForm';

export default {
    components: {
        RegisterForm
    }
}
</script>

<style>

</style>