<template>
    <b-row class="h-100" align-v="center">
        <b-col class="left mx-auto" md="3" offset-md="3">
            <h3 class="mb-3">Welcome back, wordnerd!</h3>
            <login-form></login-form>
        </b-col>
        <b-col class="right h-100" md="6"></b-col>
    </b-row>
</template>

<script>
import LoginForm from '@/components/Auth/LoginForm';

export default {
    components: {
        LoginForm
    }
}
</script>

<style scoped>
    .right {
        background-image: url('../assets/images/kelly-sikkema-VBPzRgd7gfc-unsplash.jpg');
        background-size: cover;
    }
</style>