<template>
    <div>
        <h3>Todos</h3>
        <div class="todos">
            <div v-for="(todo, index) in allTodos" class="todo" :key="index">
                {{ todo.title }}
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
    name: 'todos',
    methods: {
        ...mapActions(['fetchTodos']),
    },
    computed: mapGetters(['allTodos']),
    created() {
        this.fetchTodos();
    }
}
</script>

<style>

</style>