<template>
  <component :is="layout">
    <router-view></router-view>
  </component>
</template>

<script>
import AppNavbar from '@/components/AppNavbar';

const defaultLayout = 'default';

export default {
  name: 'App',

  components: {
    AppNavbar
  },

  computed: {
    layout() {
      return `${(this.$route.meta.layout || defaultLayout)}-layout`;
    }
  }
};
</script>

<style lang="scss">
  $body-bg: #000;
  $body-color: #111;

  @import "../node_modules/bootstrap/scss/bootstrap";
</style>
