<template>
  <ValidationObserver 
    v-slot="{ handleSubmit }"
    ref="form"
  >
    <b-form 
      @submit.prevent="handleSubmit(login)"
    >
        <ValidationProvider name="email" rules="required|email" v-slot="{ errors }">
          <b-form-group>
            <b-form-input
              v-model="email"
              type="email"
              :state="errors[0] ? false : null"
              placeholder="Email"
            ></b-form-input>
            <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
          </b-form-group>
        </ValidationProvider>

        <ValidationProvider name="password" rules="required" v-slot="{ errors }">
          <b-form-group>
            <b-form-input
              v-model="password"
              type="password"
              :state="errors[0] ? false : null"
              placeholder="Password"
            ></b-form-input>
            <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
          </b-form-group>
        </ValidationProvider>

        <b-button
          type="submit"
          variant="primary"
          :disabled="loading"
        >
            <template v-if="loading" >
              <!-- <b-spinner small label="Small Spinner"></b-spinner> -->
              Please Wait...
            </template>
            
            <template v-else>
              Login
            </template>
        </b-button>

        or <router-link :to="{name: 'landing'}">Sign Up</router-link>
    </b-form>
  </ValidationObserver>
</template>

<script>
import { createNamespacedHelpers, mapGetters } from 'vuex';
import { ValidationObserver, ValidationProvider } from 'vee-validate';
import { map } from 'lodash';

const { mapActions, mapState } = createNamespacedHelpers('auth');

export default {
    name: 'login-form',
    data: () => ({
        email: '',
        password: ''
    }),
    methods: {
        async login() {
          const { email, password } = this;

          try {
            const response = await this.$store.dispatch('auth/login', { email, password });

            this.$router.push({ name: 'home' });
          } catch (error) {
            const { status, data: errors } = error.response;

            if (status === 422) {
              map(errors, (value, key) => {
                this.$refs.form.setErrors({
                  email: [value]
                });
              });
            }
          }
        }
    },
    computed: {
        ...mapState(['loading'])
    },
    components: {
      ValidationObserver,
      ValidationProvider
    }
}
</script>

<style>

</style>