<template>
  <ValidationObserver 
    v-slot="{ handleSubmit }"
    ref="form"
  >
    <b-form 
      @submit.prevent="handleSubmit(register)"
    >
        <ValidationProvider name="name" rules="required" v-slot="{ errors }">
          <b-form-group>
            <b-form-input
              v-model="name"
              type="text"
              :state="errors[0] ? false : null"
              placeholder="Name"
            ></b-form-input>
            <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
          </b-form-group>
        </ValidationProvider>

        <ValidationProvider name="username" rules="required|alpha_dash" v-slot="{ errors }">
          <b-form-group>
            <b-form-input
              v-model="username"
              type="text"
              :state="errors[0] ? false : null"
              placeholder="Username"
            ></b-form-input>
            <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
          </b-form-group>
        </ValidationProvider>

        <ValidationProvider name="email" rules="required|email" v-slot="{ errors }">
          <b-form-group>
            <b-form-input
              v-model="email"
              type="email"
              :state="errors[0] ? false : null"
              placeholder="Email"
            ></b-form-input>
            <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
          </b-form-group>
        </ValidationProvider>

        <ValidationProvider name="dob" rules="required" v-slot="{ errors }">
          <b-form-group>
            <datepicker
              :input-class="{'is-invalid': errors[0], 'form-control birthdate': true}" 
              v-model="dob" 
              placeholder="Birthdate"
              format="yyyy-MM-dd"
            ></datepicker>
            <div :class="{'invalid-feedback': true, 'd-block': errors[0]}" v-if="errors[0]">{{ errors[0] }}</div>
          </b-form-group>
        </ValidationProvider>

        <ValidationProvider name="password" rules="required" v-slot="{ errors }">
          <b-form-group>
            <b-form-input
              v-model="password"
              type="password"
              :state="errors[0] ? false : null"
              placeholder="Password"
            ></b-form-input>
            <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
          </b-form-group>
        </ValidationProvider>

        <ValidationProvider name="password_confirmation" rules="required" v-slot="{ errors }" v-if="password">
          <b-form-group>
            <b-form-input
              v-model="password_confirmation"
              type="password"
              :state="errors[0] ? false : null"
              placeholder="Confirm Password"
            ></b-form-input>
            <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
          </b-form-group>
        </ValidationProvider>

        <b-button
          type="submit"
          variant="primary"
          :disabled="loading"
        >
            <template v-if="loading" >
              <!-- <b-spinner small label="Small Spinner"></b-spinner>  -->
              Please Wait...
            </template>
            
            <template v-else>Register</template>
        </b-button>

        or  <router-link :to="{name: 'login'}">Login</router-link>
    </b-form>
  </ValidationObserver>
</template>

<script>
import { ValidationObserver, ValidationProvider } from 'vee-validate';
import { createNamespacedHelpers } from 'vuex';
import { map } from 'lodash';
import Datepicker from 'vuejs-datepicker';

const { mapState } = createNamespacedHelpers('auth');

export default {
    data: () => ({
        name: '',
        email: '',
        password: '',
        password_confirmation: '',
        dob: '',
        username: ''
    }),
    methods: {
        async register() {
          try {
            const { name, email, password, password_confirmation, dob, username } = this;

            const response = await this.$store.dispatch('auth/register', { name, email, password, password_confirmation, dob, username });

            this.$router.push({ name: 'home' });
          } catch (error) {
            const { status, data: { errors } } = error.response;

            if (status === 422) {
              console.log(errors);
              this.$refs.form.setErrors(errors);
            }
          }
        }
    },
    computed: {
      ...mapState(['loading']),

    },
    components: {
      ValidationObserver,
      ValidationProvider,
      Datepicker
    }
}
</script>

<style>
  .birthdate {
    background-color: unset;
  }
</style>